html, body {
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
}

/* Header-section */
h1 {
  margin: 0;
  font-size: 3.25rem;
  font-weight: bold;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
}

.second-row {
  color: #2C4C90;
  opacity: 90%;
  padding-top: 17px;
  font-size: 1.74rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}

.third-row {
  position: relative;
  bottom: 17px;
  color: #161928;
  font-size: 1.05rem;
  font-family: "Montserrat";
  font-weight: 300;
}

.pil {
  width: 103px;
  position: relative;
  float: left;
  margin-right: 1.5%;
}

.container-fluid1 {
  position: absolute;
  padding-top: 4%;
  top: 70px;
  line-height: 37px;
  padding-left: 14.5%;
}

.box {
  margin: 0 auto;
  width: 628px;
}

.header-image {
  width: 100%;
  margin-top: 250px;
  margin-bottom: -1%;
  overflow: hidden;
}

@media (min-width: 1500px) {
  h1 {
    font-size: 4rem;
  }

  .box {
    position: relative;
    left: -74px;
  }

  .second-row {
    font-size: 1.95rem;
    padding-top: 19px;
  }

  .third-row {
    font-size: 1.15rem;
  }

  .pil {
    margin-right: 2.5%;
  }
}

@media (max-width: 915px) {
  h1 {
    font-size: 2.8rem;
    position: absolute;
  }

  .box {
    position: relative;
    top: 50px;
  }
}

@media (max-width: 798px) {
  h1 {
    font-size: 2.5rem;
  }

  .box {
    position: relative;
    top: 45px;
  }

  .pil {
    width: 75px;
  }

  .second-row {
    font-size: 1.5rem;
    padding-top: 10px;
  }

  .third-row {
    font-size: 0.92rem;
    bottom: 28px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 2.2rem;
  }

  .pil {
    width: 70px;
  }

  .second-row {
    font-size: 1.3rem;
    padding-top: 7.5px;
  }

  .third-row {
    font-size: 0.90rem;
    bottom: 30px;
  }
  .container-fluid1 {
    padding-left: 8.5%;
  }
}

@media (max-width: 528px) {
  h1 {
    font-size: 2rem;
  }

  .pil {
    width: 62px;
  }

  .second-row {
    font-size: 1.1rem;
    padding-top: 4px;
  }

  .third-row {
    font-size: 0.84rem;
    bottom: 33px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
  }

  .pil {
    width: 58px;
  }

  .box {
    position: relative;
    top: 38px;
  }

  .second-row {
    font-size: 1rem;
    padding-top: 2px;
  }

  .third-row {
    font-size: 0.75rem;
    bottom: 34px;
  }
}


@media (max-width: 424px) {
  h1 {
    font-size: 1.65rem;
  }

  .pil {
    width: 35px;
  }

  .second-row {
    font-size: 1.08rem;
    position: relative;
    top: -2.3px;
  }

  .third-row {
    font-size: 0.75rem;
    position: relative;
    top: -24px;
    left: -1px;
  }
}


@media (max-width: 385px) {
  h1 {
    font-size: 1.5rem;
  }

  .second-row {
    font-size: 0.97rem;
    position: relative;
    top: -2.8px;
  }

  .third-row {
    font-size: 0.682rem;
  }
}

@media (max-width: 348px) {
  h1 {
    font-size: 1.4rem;
  }

  .second-row {
    font-size: 0.88rem;
    position: relative;
    top: -2.5px;
  }

  .third-row {
    font-size: 0.63rem;
  }
}

@media (max-width: 324px) {
  h1 {
    font-size: 1.3rem;
  }
    .pil {
      width: 30px;
    }

  .second-row {
    font-size: 0.83rem;
    position: relative;
    top: -4.4px;
  }

  .third-row {
    font-size: 0.6rem;
  }
}
@media (max-width: 297px) {
  h1 {
    font-size: 1.13rem;
  }

  .second-row {
    font-size: 0.7rem;
  }

  .third-row {
    font-size: 0.52rem;
  }
}

/* Navigation-Bar */
.navigation-row {
  background-color: #161928;
  width: 100%;
  height: 109px;
}

.navrow {
  background-color: #161928;
  font-family: "Montserrat";
  font-size: 1.4rem;
  font-weight: 300;
  position: relative;
  line-height: 254%;
  margin: 0 14.5%;
  width: 75%;
  top: -72px;
  letter-spacing: 1.5px;
  text-align: left;
}

.navlager {
  position: relative;
  right: 3%;
}

.navlager2 {
  position: relative;
  right: 6%;
}

.navlager3 {
  position: relative;
  right: 5.1%;
}

@media (min-width: 2090px) {
  .navrow {
    font-size: 1.8rem;
    top: -80px;
  }

  .navigation-row {
    height: 115px;
  }
}

@media (max-width: 1900px) {
  .navlager2 {
    position: relative;
    right: 6.9%;
  }
}

@media (max-width: 1590px) {
  .navlager {
    position: relative;
    right: 4%;
  }

  .navlager2 {
    position: relative;
    right: 7.1%;
  }
}

@media (max-width: 1199px) {
  .navlager {
    position: relative;
    right: 0;
  }

  .navlager2 {
    position: relative;
    right: 0;
  }

  .navlager3 {
    position: relative;
    right: 0;
  }

  .navigation-row {
    height: 152px;
  }

  .navrow {
    position: relative;
    background-color: #161928;
    top: -125px;
  }
}

@media (max-width: 767px) {
  .navigation-row {
    height: 379px;
  }

  .navrow {
    position: relative;
    background-color: #161928;
    top: -355px;
      margin: 0 7%;
  }
}

@media (max-width: 615px) {
  .navrow {
    font-size: 1.2rem;
    line-height: 290%;
  }
}

@media (max-width: 460px) {
  .navrow {
    font-size: 1rem;
    line-height: 345%;
  }
}

a {
  color: #EEEEEE;
  text-decoration: none;
  opacity: 90%;
}

a:hover {
  text-decoration: none;
  color: #2C4C90;
}

.active {
  color: #2C4C90;
}

/* BODY */
h2 {
  font-size: 2.4rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  color: #2C4C90;
}

.body-text {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
  line-height: 2.5rem;
  position: relative;
  margin: 7% 15% 8%;
  max-width: 890px;
}

.logo {
  height: 124px;
  width: 330px;
  margin-left: -0.5%;
}

.lager {
  height: 280px;
  width: 590px;
  margin-top: 10%;
}

.lastbil {
  height: 318px;
  width: 553px;
  margin-top: 10%;
}

@media (max-width: 2089px) {
  h2 {
    font-size: 2.1rem;
  }

  .body-text {
    font-size: 1.15rem;
  }
}

@media (max-width: 1499px) {
  h2 {
    font-size: 1.9rem;
  }

  .body-text {
    font-size: 1.1rem;
    max-width: 810px;
  }
}

@media (max-width: 1199px) {
  .body-text {
    margin: 3% 15% 10%;
  }
}

@media (max-width: 1199px) {
  h2 {
    font-size: 1.82rem;
  }

  .body-text {
    font-size: 1.05rem;
    margin: 0 15% 11%;
  }

  .logo {
    height: 117.8px;
    width: 313.5px;
  }
}

@media (max-width: 798px) {
  h2 {
    font-size: 1.69rem;
  }

  .body-text {
    font-size: 1rem;
  }

  .logo {
    height: 117.8px;
    width: 313.5px;
  }
}

@media (max-width: 767px) {
  .body-text {
    margin: 0 8.5% -18%;
    top: -240px;
  }
}

@media (max-width: 615px) {
  h2 {
    font-size: 1.4rem;
  }

  .body-text {
    font-size: 0.91rem;
    margin: 0 8.5% -24%;
    top: -245px;
  }

  .logo {
    height: 100.13px;
    width: 266.475px;
  }
}

@media (max-width: 545px) {

  .body-text {
    font-size: 0.89rem;
    margin: 0 8.5% -40%;
    top: -265px;
  }

  .logo {
    height: 90.117px;
    width: 239.8275px;
  }
}

@media (max-width: 545px) {
  h2 {
    font-size: 1.25rem;
  }
  .body-text {
    font-size: 0.82rem;
    margin: 0 8.5% -50%;
    top: -275px;
  }
}

@media (max-width: 385px) {
  .body-text {
    font-size: 0.8rem;
    margin: 0 8.5% -65%;
    top: -285px;
  }
}

@media (max-width: 290px) {
  .body-text {
    margin: 0 8.5% -90%;
    top: -295px;
  }
  .logo {
    height: 81.1053px;
    width: 215.84475px;
  }
}


/* Footer */
.h2foot {
  color: #FFFFFF;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 1.4rem;
}

#foot-content {
  position: absolute;
  color: #dadadc;
  font-family: "Montserrat";
  font-size: 1rem;
  margin-top: 3%;
  margin-left: 14.5%;
  line-height: 11px;
  width: 70%;
}

.mapsection {
  display: inline-block;
}

iframe {
  border-radius: 1%;
  width: 424px;
  height: 316px;
}

.footform {
  width: 40%;
  float: right;
  margin-left: 10%;
}

@media (max-width: 1211px) {
  .footform {
    width: 100%;
    margin-top: 18%;
  }

  .mapsection {
    margin-top: 3%;
  }

  .footbild {
    margin-top: 3%;
  }
}

@media (max-width: 820px) {
  .footform {
    width: 100%;
    margin-top: 30%;
  }

  .mapsection {
    margin-top: 5%;
  }

  .footbild {
    margin-top: 5%;
  }
}

@media (max-width: 640px) {
  .footform {
    width: 100%;
    margin-top: 45%;
  }

  .mapsection {
    margin-top: 10%;
  }

  .footbild {
    margin-top: 3%;
    margin-left: -5%;
  }

  iframe {
    width: 381.6px;
    height: 284.4px;
  }
}

@media (max-width: 608px) {
  iframe {
    width: 343.44px;
    height: 255.96px;
  }

  .footbild {
    margin-top: -10%;
    margin-left: -10%;
  }
}

.formline {
  opacity: 80%;
}

.btnskicka {
  position: absolute;
  right: 0;
  margin-top: 1%;
}

.copyrightfoot {
  position: absolute;
  font-size: 0.75rem;
  color: #dadadc;
  opacity: 80%;
  right: 1px;
  bottom: -63px;
}

.footbild {
  position: absolute;
  top: 370px;
  left: 260px;
  width: 192.6px;
  height: 134.1px;
  opacity: 90%;
}

.isologos {
  width: 154.08px;
  height: 74.16px;
  margin-left: 20px;
  margin-top: 5%;
}

.fairlogo {
  width: 74px;
  height: 74px;
  margin-top: 5%;
}

.foot {
  background-color: #161928;
  width: 100%;
  height: 635px;
}

@media (max-width: 525px) {
  .footbild {
    position: absolute;
    top: 370px;
    left: 260px;
    width: 154.08px;
    height: 107.28px;
    opacity: 90%;
  }

  .isologos {
    width: 130.968px;
    height: 63.036px;
    margin-left: 20px;
    margin-top: 6%;
  }

  .fairlogo {
    width: 62.9px;
    height: 62.9px;
    margin-top: 6%;
  }

  .copyrightfoot {
    position: absolute;
    bottom: -110px;
  }
}

@media (max-width: 1211px) {
  .foot {
    height: 1318px;
  }

  #foot-content {
    margin-top: 5%;
  }
}

@media (min-width: 2135px) {
  .foot {
    height: 690px;
  }
}
