html, body {
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
}


/* Header-section */

h1 {
  margin: 0;
  font-size: 3.25rem;
  font-weight: bold;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  text-shadow: 1px 1px #000;
}

h3 {
  color: #2C4C90;
  font-size: 1.5rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}

.second-row {
  color: #2C4C90;
  opacity: 90%;
  padding-top: 17px;
  font-size: 1.74rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}

.third-row {
  position: relative;
  bottom: 17px;
  color: #161928;
  font-size: 1.05rem;
  font-family: "Montserrat";
  font-weight: 300;
}

.pil {
  width: 103px;
  position: relative;
  float: left;
  margin-right: 1.5%;
}

.container-fluid1 {
  position: absolute;
  padding-top: 4%;
  top: 70px;
  line-height: 37px;
  padding-left: 14.5%;
}

.box {
  margin: 0 auto;
  width: 628px;
  animation: 5500ms fadeIn;
}

@keyframes fadeIn {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header-image {
  width: 100%;
  margin-top: 250px;
  margin-bottom: -1%;
  overflow: hidden;
}


@media (min-width: 1500px) {
  h1 {
    font-size: 4rem;
  }

  .box {
    position: relative;
    left: -74px;
  }

  .second-row {
    font-size: 1.95rem;
    padding-top: 19px;
  }

  .third-row {
    font-size: 1.15rem;
  }

  .pil {
    margin-right: 2.5%;
  }
}

@media (max-width: 915px) {
  h1 {
    font-size: 2.8rem;
    position: absolute;
  }

  .box {
    position: relative;
    top: 50px;
  }
}

@media (max-width: 798px) {
  h1 {
    font-size: 2.5rem;
  }

  .box {
    position: relative;
    top: 45px;
  }

  .pil {
    width: 75px;
  }

  .second-row {
    font-size: 1.5rem;
    padding-top: 10px;
  }

  .third-row {
    font-size: 0.92rem;
    bottom: 28px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 2.2rem;
  }

  .pil {
    width: 70px;
  }

  .second-row {
    font-size: 1.3rem;
    padding-top: 7.5px;
  }

  .third-row {
    font-size: 0.90rem;
    bottom: 30px;
  }

  .container-fluid1 {
    padding-left: 8.5%;
  }
}

@media (max-width: 528px) {
  h1 {
    font-size: 2rem;
  }

  .pil {
    width: 62px;
  }

  .second-row {
    font-size: 1.1rem;
    padding-top: 4px;
  }

  .third-row {
    font-size: 0.84rem;
    bottom: 33px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
  }

  .pil {
    width: 48px;
  }

  .box {
    position: relative;
    top: 40px;
  }

  .second-row {
    font-size: 1.14rem;
    position: relative;
    top: 1.4px;
  }

  .third-row {
    font-size: 0.82rem;
    position: relative;
    top: -18px;
    left: -1px;
  }
}

@media (max-width: 424px) {
  h1 {
    font-size: 1.65rem;
  }

  .pil {
    width: 35px;
  }

  .second-row {
    font-size: 1.08rem;
    position: relative;
    top: -4.5px;
  }

  .third-row {
    font-size: 0.75rem;
    position: relative;
    top: -29px;
    left: -1px;
  }
}

@media (max-width: 385px) {
  h1 {
    font-size: 1.5rem;
  }

  .second-row {
    font-size: 0.97rem;
    position: relative;
    top: -5.3px;
  }

  .third-row {
    font-size: 0.682rem;
  }
}

@media (max-width: 348px) {
  h1 {
    font-size: 1.4rem;
  }

  .second-row {
    font-size: 0.88rem;
  }

  .third-row {
    font-size: 0.63rem;
  }
}

@media (max-width: 324px) {
  h1 {
    font-size: 1.3rem;
  }

  .pil {
    width: 30px;
  }

  .second-row {
    font-size: 0.83rem;
    position: relative;
    top: -6.5px;
  }

  .third-row {
    font-size: 0.6rem;
    top: -34px;
  }
}

@media (max-width: 297px) {
  h1 {
    font-size: 1.13rem;
  }

  .second-row {
    font-size: 0.7rem;
    top: -7.5px;
  }

  .third-row {
    font-size: 0.52rem;
  }
}

/* Navigation-Bar */
.navigation-row {
  background-color: #161928;
  width: 100%;
  height: 110px;
}

.navrow {
  background-color: #161928;
  font-family: "Montserrat";
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 100%;
  margin: 0 14%;
  width: 70%;
  position: relative;
  top: -68px;
  text-align: left;
  animation: 5s slideIn;
}

@keyframes slideIn {

  0% {
    opacity: 0;
    left: -200px;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    left: 0;
  }

}

.navbar-nav {
  display: table;
  width: 100%;
  margin: 0;
}

.nav-link {
  color: #EEEEEE !important;
}

.nav-link:hover {
  color: #2C4C90 !important;
}

li {
  width: 20%;
}
.navbar-nav>li {
  display: table-cell;
  float: none;
}

@media (max-width: 2115px) {
  .navrow {
    top: -72px;
  }
}

@media (max-width: 1660px) {
  .navrow {
    top: -75px;
  }
}

@media (max-width: 991px) {
  .navigation-row {
    height: 80px;
  }

  .navrow {
    width: inherit;
    padding-left: 14.5%;
    margin-left: 0;
    margin-right: 0;
    top: -64px;
    animation: inherit;
  }

  .navbar-nav>li {
    display: inherit;
    padding-top: 3%;
    padding-bottom: 2%;
  }
}

@media (max-width: 767px) {
  .navrow {
    padding-left: 8.5%;
    top: -65px;
  }
}

@media (max-width: 580px) {
  .navigation-row {
    height: 0;
  }

  .navrow {
    top: 1px;
    margin-bottom: 55px;
  }
}

a {
  color: #EEE;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #2C4C90;
}

.ac {
  color: #2C4C90;
}

.ac:hover {
color: #CCC;
}

/* BODY */

h2 {
  font-size: 2.4rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  color: #2C4C90;
  padding-bottom: 3%;
}

.body-text {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
  line-height: 2.5rem;
  position: relative;
  margin: 7% 14.5% 8%;
  max-width: 890px;
}

.logo {
  height: 124px;
  width: 330px;
  opacity: 95%;
  margin-left: -0.7%;
}

/* lager.html */
.body-textlager {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
  line-height: 2.5rem;
  position: relative;
  margin: 7% 14.5% 10% 15%;
  text-align: left;
}

.lager {
  height: 392px;
  width: 826px;
  float: right;
  position: relative;
  top: -160px;
  margin-left: 13%;
  border-radius: 1%;
  animation: 4s stretch;
}

@keyframes stretch {
  0% {
    transform: scale(.6);
    border-radius: 25%;
  }
  100% {
    transform: scale(1);
  }
}

/* transport */
.body-texttransport {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
  line-height: 2.5rem;
  position: relative;
  margin: 7% 14.5% 10% 15%;
  text-align: left;
}

.lastbil {
  height: 445.2px;
  width: 774.2px;
  float: right;
  position: relative;
  top: -165px;
  margin-left: 10%;
  right: 20px;
  border-radius: 1%;
    animation: 4s stretch;
}

/* kontakt */

.body-textkontakt {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
  line-height: 2.5rem;
  position: relative;
  margin: 7% 7% 13% 14.5%;
}

.profileimg {
  width: 30%;
  position: relative;
  left: 10%;
  margin-top: 20%;
  margin-bottom: 6%;
}


@media (max-width: 2251px) {
  .body-textkontakt {
    margin: 7% 8% 13% 14.5%;
  }

  .lager {
    height: 353.78px;
    width: 745.465px;
    top: -142px;
  }

  .lastbil {
    height: 400.68px;
    width: 696.78px;
    top: -145px;
  }
}

@media (max-width: 2120px) {
  .body-textkontakt {
    margin: 7% 10% 13% 14.5%;
  }
  .lager {
    height: 320.264px;
    width: 674.842px;
    top: -127px;
  }
}

@media (max-width: 2089px) {
  .body-text, .bodytext-lager, .body-texttransport, .body-textkontakt {
    font-size: 1.15rem;
  }

  h3 {
    font-size: 1.42rem;
  }

  .lager {
    top: -116px;
  }

  .lastbil {
    height: 360.612px;
    width: 627.102px;
    top: -125px;
  }
}

@media (max-width: 2001px) {
  .lager {
    top: -96px;
  }
}

@media (max-width: 1972px) {
  .lager {
    height: 288.2376px;
    width: 607.3578px;
    top: -81px;
  }

  .lastbil {
    height: 342.6px;
    width: 595.75px;
    top: -115px;
  }
}

@media (max-width: 1916px) {
  .body-textkontakt {
    margin: 7% 11% 13% 14.5%;
  }
  .lastbil {
    top: -96px;
  }
}

@media (max-width: 1862px) {
  .lager {
    height: 273.82572px;
    width: 576.98991px;
    top: -81px;
  }
  h3 {
    font-size: 1.4rem;
  }
  .body-textkontakt {
    font-size: 1.06rem;
  }
  .lastbil {
    height: 322px;
    width: 560px;
    top: -87px;
  }
  .certlogos {
    position: relative;
    top: -10px;
  }
}

@media (max-width: 1780px) {
  .body-textkontakt {
    margin: 7% 13% 13% 14.5%;
  }
  .lastbil {
    top: -55px;
  }
}

@media (max-width: 1744px) {
  .body-textkontakt {
    margin: 7% 14% 13% 14.5%;
  }

  .lager {
    height: 260px;
    width: 548px;
    top: -71px;
  }
}

@media (max-width: 1557px) {
  .lager {
    height: 234px;
    width: 493.2px;
    top: -44px;
  }

  .lastbil {
    height: 302.68px;
    width: 526.4px;
    top: -35px;
  }
}

@media (max-width: 1499px) {
  h2 {
    font-size: 1.9rem;
  }

  .body-text, .body-textlager, .body-texttransport {
    font-size: 1.1rem;
    max-width: 810px;
  }
  h3 {
    font-size: 1.35rem;
  }
  .body-textkontakt {
    font-size: 1rem;
  }

  .lager {
    height: 353.78px;
    width: 745.465px;
    float: inherit;
    position: absolute;
    top: 294px;
    margin-left: 0;
  }

  .body-textlager {
    margin: 6% 14.5% 38% 15%;
    max-width: 700px;
  }
  .body-texttransport {
        margin: 6% 14.5% 40% 15%;
        max-width: 700px;
  }
  .body-textkontakt {
    margin: 7% 15% 13% 14.5%;
  }

  .lastbil {
    height: 384.6528px;
    width: 668px;
    float: inherit;
    position: absolute;
    top: 325px;
    margin-right: 10px;
  }
}

@media (max-width: 1429px) {
  h3 {
    font-size: 1.3rem;
  }
  .h2kontakt {
    margin: 0 0 0 8%;
  }

  .body-textkontakt {
    font-size: 0.95rem;
      line-height: 2.1rem;
        margin: 7% auto 13% 7%;
  }


  .lager {
    height: 320.264px;
    width: 674.842px;
  }
  .body-texttransport {
    margin: 6% 14.5% 44% 15%;
  }

  .certlogos {
    top: -20px;
  }
}

@media (max-width: 1296px) {
  .body-textlager {
    margin: 6% 14.5% 40% 15%;
  }

  .body-texttransport {
    margin: 6% 14.5% 45% 15%;
  }
  .h2kontakt {
    margin: 0 0 0 10%;
  }
  .body-textkontakt {
        margin: 7% auto 13% 5%;
  }
}

@media (max-width: 1225px) {
  .body-texttransport {
    margin: 6% 14.5% 48% 15%;
  }
}

@media (max-width: 1199px) {
  h2 {
    font-size: 1.82rem;
  }
  h3 {
    font-size: 1.15rem;
  }

  .body-text {
    font-size: 1.05rem;
    margin: 4% 14.5% 10%;
  }

  .body-textlager, .body-texttransport {
    font-size: 1.05rem;
    margin: 6% 14.5% 40% 15%;
  }

  .body-textkontakt {
    font-size: 0.93rem;
  }

  .body-texttransport {
    max-width: 670px;
  }

  .lager {
    height: 307.45px;
    width: 647.85px;
  }

  .lastbil {
    height: 299.29px;
    width: 520.5px;
    margin-right: 127px;
  }

  .logo {
    height: 117.8px;
    width: 313.5px;
  }
}

@media (max-width: 1156px) {
  .body-textlager {
    margin: 6% 14.5% 44% 15%;
  }
  .certlogos {
    top: -30px;
  }
}

@media (max-width: 1108px) {
  .lager {
    height: 282.854px;
    width: 596px;
  }

  .body-texttransport {
    margin: 6% 14.5% 45% 15%;
  }
}

@media (max-width: 993px) {
  .lager {
    height: 254.5686px;
    width: 536.4px;
  }

  .body-texttransport {
    margin: 6% 14.5% 48% 15%;
  }
  .lastbil {
    margin: inherit;
    left: -100px;
    margin-top: -12px;
  }
  .certlogos {
    top: -40px;
  }
}

@media (max-width: 991px) {
  .h2kontakt {
        margin: 0;
  }
  .body-textkontakt {
        margin: 7% auto 13% 14.5%;
  }
  .profileimg {
    width: 22%;
    position: relative;
    left: 0;
    margin-bottom: 3%;
    margin-top: 11%;
  }
}

@media (max-width: 955px) {
  .lastbil {
    left: -98px;
  }
}

@media (max-width: 943px) {
  .body-texttransport {
    margin: 6% 14.5% 50% 15%;
  }
}

@media (max-width: 929px) {
  .body-textlager {
    margin: 6% 14.5% 48% 15%;
  }
  .body-texttransport {
    margin: 6% 14.5% 52% 15%;
  }
  .lastbil {
    left: -96px;
  }
}

@media (max-width: 918px) {
  .lastbil {
    left: -93px;
  }
}

@media (max-width: 870px) {
  .body-textlager {
    margin: 6% 14.5% 52% 15%;
  }
  .body-texttransport {
    margin: 6% 14.5% 56% 15%;
  }
  .lastbil {
    left: -89px;
  }
}

@media (max-width: 820px) {
  .lastbil {
    left: -86px;
  }
}

@media (max-width: 798px) {
  h2 {
    font-size: 1.69rem;
  }

  .body-text, .body-textlager, .body-texttransport, .body-textkontakt {
    font-size: 1rem;
  }

  .logo {
    height: 117.8px;
    width: 313.5px;
    position: relative;
    top: -10px;
  }

  .body-textlager {
    margin: 6% 14.5% 55% 15%;
  }
  .body-texttransport {
    margin: 6% 14.5% 59% 15%;
  }
  .lastbil {
    left: -83px;
  }
}

@media (max-width: 767px) {
  .body-text {
    margin: 4% 8.5% 10%;
  }

  .body-textlager {
    margin: 0 8.5% 58%;
  }

  .body-texttransport {
    margin: 0 8.5% 63%;
  }
  .body-textkontakt {
        margin: 7% 8.5% 13%;
  }

  .lager {
    height: 270px;
    width: 95%;
    margin-top: -10px;
  }
  .lastbil {
    height: 360px;
    width: 100%;
    left: -54px;
    margin-top: -15px;
  }
  .certlogos {
    top: -58px;
  }
}

@media (max-width: 730px) {
  .body-texttransport {
    margin: 0 8.5% 65%;
  }
  .lastbil {
    height: 350px;
    left: -51px;
  }
}

@media (max-width: 689px) {
  .body-textlager {
    margin: 0 8.5% 62%;
  }
  .body-texttransport {
    margin: 0 8.5% 69%;
  }
  .lager {
    margin-top: -23px;
  }
  .lastbil {
    margin-top: -22px;
      left: -49px;
  }
}

@media (max-width: 668px) {
  .lastbil {
        height: 340px;
    margin-top: -25px;
      left: -47px;
  }
}

@media (max-width: 622px) {
  .body-texttransport {
    margin: 0 8.5% 72%;
  }
  .lastbil {
      height: 322px;
    margin-top: 20px;
      left: -45px;
  }
}

@media (max-width: 615px) {
  h2 {
    font-size: 1.55rem;
  }

  .body-text, .body-textlager, .body-texttransport, .body-textkontakt {
    font-size: 0.96rem;
  }

  .logo {
    height: 100.13px;
    width: 266.475px;
  }

  .body-textlager {
    margin: 0 8.5% 63%;
  }

  .lager {
    height: 230px;
  }
  .lastbil {
      height: 310px;
    margin-top: -20px;
      left: -43px;
  }
}

@media (max-width: 597px) {
  .lastbil {
      height: 295px;
    margin-top: 15px;
      left: -41px;
  }
}

@media (max-width: 572px) {
  .body-textlager {
    margin: 0 8.5% 65%;
  }

  .lager {
    height: 240px;
    margin-top: -26px;
  }
  .certlogos {
    top: -40px;
  }
}

@media (max-width: 549px) {
  .lastbil {
      height: 275px;
    margin-top: 48px;
      left: -40px;
  }
}

@media (max-width: 545px) {
  h2 {
    font-size: 1.45rem;
    padding-bottom: 3.3%;
  }

  .body-text {
    margin: 0 8.5% 5%;
  }

  .body-text, .body-textlager, .body-texttransport, .body-textkontakt {
    font-size: 0.89rem;
    line-height: 2.2rem;
    top: -6px;
  }

  .logo {
    height: 90.117px;
    width: 239.8275px;
    position: relative;
    top: -28px;
  }

  .body-textlager {
    margin: 0 8.5% 57%;
  }

  .body-texttransport {
    margin: 0 8.5% 66%;
  }

  .lager {
    height: 200px;
    margin-top: -60px;
  }
  .lastbil {
      height: 250px;
    margin-top: -25px;
      left: -37px;
  }
}

@media (max-width: 509px) {
  .lastbil {
      height: 245px;
    margin-top: 15px;
      left: -36px;
  }
  .body-texttransport {
    margin: 0 8.5% 70%;
  }
}

@media (max-width: 478px) {
  .lager {
    height: 180px;
    margin-top: -40px;
  }
  .body-texttransport {
    margin: 0 8.5% 75%;
  }
  .lastbil {
      left: -34px;
  }
}

@media (max-width: 458px) {
  .body-textlager {
    margin: 0 8.5% 62%;
  }
  .body-texttransport {
    margin: 0 8.5% 76%;
  }
  .lastbil {
      height: 225px;
    margin-top: 15px;
      left: -32px;
  }
}

@media (max-width: 410px) {
  .body-textlager {
    margin: 0 8.5% 66%;
  }

  .lager {
    height: 160px;
  }
  .lastbil {
      height: 210px;
    margin-top: 10px;
      left: -28px;
  }
  .certlogos {
    top: -32px;
  }
}

@media (max-width: 385px) {
  .lastbil {
      height: 195px;
    margin-top: 10px;
      left: -28px;
  }
}

@media (max-width: 370px) {
  .lastbil {
      height: 185px;
    margin-top: 40px;
      left: -26px;
  }
}

@media (max-width: 361px) {
  .lastbil {
      height: 185px;
    margin-top: 75px;
      left: -24px;
  }
}

@media (max-width: 339px) {
  .lager {
    height: 150px;
    margin-top: -10px;
  }
  .body-texttransport {
    margin: 0 8.5% 80%;
  }
  .lastbil {
      height: 175px;
    margin-top: 75px;
      left: -24px;
  }
}

@media (max-width: 316px) {
  .lager {
    height: 135px;
    margin-top: 20px;
  }
  .lastbil {
      height: 160px;
    margin-top: 65px;
      left: -21px;
  }
  .certlogos {
    top: -20px;
  }
}

@media (max-width: 299px) {
  h2 {
    font-size: 1.2rem;
  }

  .body-text {
    margin: 0 8.5% 0;
  }


  .body-text, .body-textlager, .body-texttransport, .body-textkontakt {
    font-size: 0.85rem;
    top: -24px;
  }

  .logo {
    height: 81.1053px;
    width: 215.84475px;
    position: relative;
    top: -30px;
  }
  .lastbil {
      height: 150px;
    margin-top: 68px;
      left: -21px;
  }
}

@media (max-width: 267px) {
  .lastbil {
      height: 140px;
    margin-top: 138px;
      left: -20px;
  }
}

/* Footer */
.h2foot {
  color: #FFFFFF;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 1.4rem;
  padding-bottom: 2%;
}

#foot-content {
  position: absolute;
  color: #dadadc;
  font-family: "Montserrat";
  font-size: 1rem;
  margin-top: 4.5%;
  margin-left: 14.5%;
  line-height: 11px;
  width: 70%;
}

.telefon {
  text-decoration: underline;
}

.mapsection {
  display: inline-block;
}

iframe {
  border-radius: 1%;
  width: 424px;
  height: 316px;
}

.footform {
  width: 41%;
  position: absolute;
  top: 0px;
  right: 0;
}

.formline {
  opacity: 90%;
}

.btnskicka {
  position: absolute;
  right: 0;
  margin-top: 1%;
}

.copyrightfoot {
  position: absolute;
  font-size: 0.75rem;
  color: #dadadc;
  opacity: 80%;
  right: 1px;
  bottom: -63px;
}

.footbild {
  position: absolute;
  top: 370px;
  left: 260px;
  width: 192.6px;
  height: 134.1px;
  opacity: 90%;
}

.isologos {
  width: 154.08px;
  height: 74.16px;
  margin-left: 20px;
  margin-top: 5%;
}

.fairlogo {
  width: 74px;
  height: 74px;
  margin-top: 5%;
}

.fairlogo:hover {
  opacity: 60%;
}

.foot {
  background-color: #161928;
  width: 100%;
  height: 700px;
}

@media (max-width: 1900px) {
  #foot-content {
    margin-top: 6.5%;
  }
}
@media (max-width: 1700px) {
  #foot-content {
    margin-top: 7.5%;
  }
}
@media (max-width: 1450px) {
  #foot-content {
    margin-top: 8%;
  }
}
@media (max-width: 1270px) {
  #foot-content {
    margin-top: 8.5%;
  }
}

@media (max-width: 1211px) {
  .footform {
    width: 100%;
    margin-top: 18%;
    position: inherit;
  }

  .mapsection {
    margin-top: 3%;
  }

  .foot {
    height: 1320px;
  }

  #foot-content {
    margin-top: 7.5%;
  }

  .copyrightfoot {
    bottom: -12px;
  }
}

@media (max-width: 1150px) {
  .isologos, .fairlogo {
    margin-top: 6%;
  }
}

@media (max-width: 1090px) {
  .isologos, .fairlogo {
    margin-top: 7%;
  }
  #foot-content {
    margin-top: 8%;
  }
}

@media (max-width: 1040px) {
  .isologos, .fairlogo {
    margin-top: 8%;
  }

  .copyrightfoot {
    bottom: -16px;
  }
}

@media (max-width: 970px) {
  .isologos, .fairlogo {
    margin-top: 9%;
  }
  #foot-content {
    margin-top: 9%;
  }
  .foot {
    height: 1350px;
  }
}

@media (max-width: 850px) {
  .isologos, .fairlogo {
    margin-top: 11%;
  }
  #foot-content {
    margin-top: 10.5%;
  }
  .foot {
    height: 1300px;
  }
}

@media (max-width: 767px) {
  #foot-content {
        margin-top: 8.5%;
    margin-left: 8.5%;
    width: 83%;
  }

  .isologos, .fairlogo {
    margin-top: 15%;
  }
}

@media (max-width: 640px) {
  .footform {
    width: 100%;
    margin-top: 25%;
  }

  .footbild {
    width: 161.784px;
    height: 112.644px;
    opacity: 90%;
    margin-top: -24px;
  }

  iframe {
    width: 381.6px;
    height: 284.4px;
  }

  .isologos {
    width: 138.672px;
    height: 66.744px;
  }

  .fairlogo {
    width: 66.6px;
    height: 66.6px;
  }

  .foot {
    height: 1260px;
  }
}

@media (max-width: 608px) {
  iframe {
    width: 343.44px;
    height: 255.96px;
  }

  .h2foot {
    font-size: 1.3rem;
  }

  #foot-content {
    font-size: 0.85rem;
    line-height: 9px;
  }

  .footbild {
    width: 145.6056px;
    height: 101.3796px;
    margin-top: -52px;
    margin-left: -26px;
  }

  .isologos {
    width: 124.8048px;
    height: 60.0696px;
  }

  .fairlogo {
    width: 59.94px;
    height: 59.94px;
  }

  .copyrightfoot {
    bottom: -48px;
  }

  .foot {
    height: 1200px;
  }
}

@media (max-width: 530px) {
  .footbild {
    width: 131.04504px;
    height: 91.24164px;
    margin-top: -50px;
    margin-left: -17px;
  }

  .isologos {
    width: 124.8048px;
    height: 60.0696px;
  }

  .fairlogo {
    width: 59.94px;
    height: 59.94px;
  }

  .copyrightfoot {
    bottom: -62px;
  }

  .foot {
    height: 1175px;
  }
}

@media (max-width: 515px) {
  .copyrightfoot {
    bottom: -70px;
  }
}

@media (max-width: 480px) {
  .footbild {
    margin-top: -50px;
    margin-left: -17px;
  }

  .isologos {
    width: 112.3px;
    height: 54px;
    margin-top: 15%;
  }

  .fairlogo {
    width: 53.9px;
    height: 53.9px;
    margin-top: 15%;
  }
}

@media (max-width: 445px) {
  .footbild {
    margin-top: 45px;
    margin-left: -48px;
  }

  .foot {
    height: 1155px;
  }
}

@media (max-width: 405px) {
  iframe {
    width: 309px;
    height: 230.4px;
  }

  .footbild {
    margin-top: 12px;
    margin-left: -67px;
  }

  .foot {
    height: 1100px;
  }
}

@media (max-width: 382px) {
  .footbild {
    width: 117.9px;
    height: 82.1px;
  }
}

@media (max-width: 367px) {
  iframe {
    width: 278.1px;
    height: 207.36px;
  }

  .footbild {
    margin-top: -12px;
    margin-left: -75px;
  }
}

@media (max-width: 347px) {
  .footbild {
    margin-left: -105px;
  }
}

@media (min-width: 2135px) {
  .foot {
    height: 750px;
  }
}
