html, body {
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
}

/* Header-section */
h1 {
  margin: 0;
  font-size: 3.25rem;
  font-weight: bold;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
}

.second-row {
  color: #2C4C90;
  opacity: 90%;
  padding-top: 17px;
  font-size: 1.74rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}

.third-row {
  position: relative;
  bottom: 17px;
  color: #161928;
  font-size: 1.05rem;
  font-family: "Montserrat";
  font-weight: 300;
}

.pil {
  width: 103px;
  position: relative;
  float: left;
  margin-right: 1.5%;
}

.container-fluid1 {
  position: absolute;
  padding-top: 4%;
  top: 70px;
  line-height: 37px;
  padding-left: 14.5%;
}

.box {
  margin: 0 auto;
  width: 628px;
}

.header-image {
  width: 100%;
  margin-top: 250px;
  margin-bottom: -1%;
  overflow: hidden;
}

@media (min-width: 1500px) {
  h1 {
    font-size: 4rem;
  }

  .box {
    position: relative;
    left: -74px;
  }

  .second-row {
    font-size: 1.95rem;
    padding-top: 19px;
  }

  .third-row {
    font-size: 1.15rem;
  }

  .pil {
    margin-right: 2.5%;
  }
}

@media (max-width: 915px) {
  h1 {
    font-size: 2.8rem;
    position: absolute;
  }

  .box {
    position: relative;
    top: 50px;
  }
}

@media (max-width: 798px) {
  h1 {
    font-size: 2.5rem;
  }

  .box {
    position: relative;
    top: 45px;
  }

  .pil {
    width: 75px;
  }

  .second-row {
    font-size: 1.5rem;
    padding-top: 10px;
  }

  .third-row {
    font-size: 0.92rem;
    bottom: 28px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 2.2rem;
  }

  .pil {
    width: 70px;
  }

  .second-row {
    font-size: 1.3rem;
    padding-top: 7.5px;
  }

  .third-row {
    font-size: 0.90rem;
    bottom: 30px;
  }

  .container-fluid1 {
    padding-left: 8.5%;
  }
}

@media (max-width: 528px) {
  h1 {
    font-size: 2rem;
  }

  .pil {
    width: 62px;
  }

  .second-row {
    font-size: 1.1rem;
    padding-top: 4px;
  }

  .third-row {
    font-size: 0.84rem;
    bottom: 33px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
  }

  .pil {
    width: 48px;
  }

  .box {
    position: relative;
    top: 40px;
  }

  .second-row {
    font-size: 1.14rem;
    position: relative;
    top: 1.4px;
  }

  .third-row {
    font-size: 0.82rem;
    position: relative;
    top: -18px;
    left: -1px;
  }
}

@media (max-width: 424px) {
  h1 {
    font-size: 1.65rem;
  }

  .pil {
    width: 35px;
  }

  .second-row {
    font-size: 1.08rem;
    position: relative;
    top: -4.5px;
  }

  .third-row {
    font-size: 0.75rem;
    position: relative;
    top: -29px;
    left: -1px;
  }
}

@media (max-width: 385px) {
  h1 {
    font-size: 1.5rem;
  }

  .second-row {
    font-size: 0.97rem;
    position: relative;
    top: -5.3px;
  }

  .third-row {
    font-size: 0.682rem;
  }
}

@media (max-width: 348px) {
  h1 {
    font-size: 1.4rem;
  }

  .second-row {
    font-size: 0.88rem;
  }

  .third-row {
    font-size: 0.63rem;
  }
}

@media (max-width: 324px) {
  h1 {
    font-size: 1.3rem;
  }

  .pil {
    width: 30px;
  }

  .second-row {
    font-size: 0.83rem;
    position: relative;
    top: -6.5px;
  }

  .third-row {
    font-size: 0.6rem;
    top: -34px;
  }
}

@media (max-width: 297px) {
  h1 {
    font-size: 1.13rem;
  }

  .second-row {
    font-size: 0.7rem;
    top: -7.5px;
  }

  .third-row {
    font-size: 0.52rem;
  }
}

/* Navigation-Bar */
.navigation-row {
  background-color: #161928;
  width: 100%;
  height: 110px;
}

.navrow {
  background-color: #161928;
  font-family: "Montserrat";
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 100%;
  margin: 0 14.5%;
  width: 78%;
  position: relative;
  top: -68px;
}

.navbar-nav {
  display: table;
  width: 100%;
  margin: 0;
}

.nav-link {
  color: #EEEEEE !important;
}

.nav-link:hover {
  color: #2C4C90 !important;
}

.navbar-nav>li {
  display: table-cell;
  float: none;
}

@media (max-width: 2115px) {
  .navrow {
    top: -72px;
  }
}

@media (max-width: 1660px) {
  .navrow {
    top: -75px;
  }
}

@media (max-width: 991px) {
  .navigation-row {
    height: 80px;
  }

  .navrow {
    width: inherit;
    padding-left: 14.5%;
    margin-left: 0;
    margin-right: 0;
    top: -64px;
  }

  .navbar-nav>li {
    display: inherit;
    padding-top: 3%;
    padding-bottom: 2%;
  }
}

@media (max-width: 767px) {
  .navrow {
    padding-left: 8.5%;
    top: -65px;
  }
}

@media (max-width: 580px) {
  .navigation-row {
    height: 0;
  }

  .navrow {
    top: 1px;
    margin-bottom: 55px;
  }
}

a {
  color: #EEE;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #2C4C90;
}

/* BODY */
h2 {
  font-size: 2.4rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  color: #2C4C90;
  padding-bottom: 3%;
}

.body-text {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
  line-height: 2.5rem;
  position: relative;
  margin: 7% 14.5% 8%;
  max-width: 890px;
}

.logo {
  height: 124px;
  width: 330px;
  margin-left: -0.7%;
}

/* lager.html */
.body-textlager {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
  line-height: 2.5rem;
  position: relative;
  margin: 7% 14.5% 10% 15%;
  text-align: left;
}

.lager {
  height: 392px;
  width: 826px;
  float: right;
  position: relative;
  top: -160px;
  margin-left: 13%;
  border-radius: 1%;
}

/* transport */
.body-texttransport {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
  line-height: 2.5rem;
  position: relative;
  margin: 7% 14.5% 10% 15%;
  text-align: left;
}

.lastbil {
  height: 445.2px;
  width: 774.2px;
  float: right;
  position: relative;
  top: -165px;
  margin-left: 10%;
  right: 20px;
  border-radius: 1%;
}

@media (max-width: 2251px) {
  .lager {
    height: 353.78px;
    width: 745.465px;
    top: -142px;
  }

  .lastbil {
    height: 400.68px;
    width: 696.78px;
    top: -145px;
  }
}

@media (max-width: 2120px) {
  .lager {
    height: 320.264px;
    width: 674.842px;
    top: -127px;
  }
}

@media (max-width: 2089px) {
  .body-text, .bodytext-lager, .body-texttransport {
    font-size: 1.15rem;
  }

  .lager {
    top: -116px;
  }

  .lastbil {
    height: 360.612px;
    width: 627.102px;
    top: -125px;
  }
}

@media (max-width: 2001px) {
  .lager {
    top: -96px;
  }
}

@media (max-width: 1972px) {
  .lager {
    height: 288.2376px;
    width: 607.3578px;
    top: -81px;
  }

  .lastbil {
    height: 342.6px;
    width: 595.75px;
    top: -115px;
  }
}

@media (max-width: 1916px) {
  .lastbil {
    top: -96px;
  }
}

@media (max-width: 1862px) {
  .lager {
    height: 273.82572px;
    width: 576.98991px;
    top: -81px;
  }

  .lastbil {
    height: 322px;
    width: 560px;
    top: -87px;
  }
}

@media (max-width: 1780px) {
  .lastbil {
    top: -55px;
  }
}

@media (max-width: 1744px) {
  .lager {
    height: 260px;
    width: 548px;
    top: -71px;
  }
}

@media (max-width: 1557px) {
  .lager {
    height: 234px;
    width: 493.2px;
    top: -44px;
  }

  .lastbil {
    height: 302.68px;
    width: 526.4px;
    top: -35px;
  }
}

@media (max-width: 1499px) {
  h2 {
    font-size: 1.9rem;
  }

  .body-text, .body-textlager, .body-texttransport {
    font-size: 1.1rem;
    max-width: 810px;
  }

  .lager {
    height: 353.78px;
    width: 745.465px;
    float: inherit;
    position: absolute;
    top: 294px;
    margin-left: 0;
  }

  .body-textlager, .body-texttransport {
    margin: 6% 14.5% 38% 15%;
    max-width: 700px;
  }

  .lastbil {
    height: 400.68px;
    width: 696.78px;
    float: inherit;
    position: absolute;
    top: 325px;
    left: -70px;
  }
}

@media (max-width: 1429px) {
  .lager {
    height: 320.264px;
    width: 674.842px;
  }

  .body-texttransport {
    margin: 6% 14.5% 42% 15%;
  }
}

@media (max-width: 1296px) {
  .body-textlager {
    margin: 6% 14.5% 40% 15%;
  }

  .body-texttransport {
    margin: 6% 14.5% 45% 15%;
  }
}

@media (max-width: 1199px) {
  h2 {
    font-size: 1.82rem;
  }

  .body-text {
    font-size: 1.05rem;
    margin: 4% 14.5% 10%;
  }

  .body-textlager, .body-texttransport {
    font-size: 1.05rem;
    margin: 6% 14.5% 40% 15%;
  }

  .body-texttransport {
    max-width: 670px;
  }

  .lager {
    height: 307.45px;
    width: 647.85px;
  }

  .lastbil {
    height: 290.5728px;
    width: 505.344px;
    left: -66px;
  }

  .logo {
    height: 117.8px;
    width: 313.5px;
  }
}

@media (max-width: 1156px) {
  .body-textlager {
    margin: 6% 14.5% 44% 15%;
  }
}

@media (max-width: 1108px) {
  .lager {
    height: 282.854px;
    width: 596px;
  }

  .body-texttransport {
    margin: 6% 14.5% 44% 15%;
  }
}

@media (max-width: 993px) {
  .lager {
    height: 254.5686px;
    width: 536.4px;
  }

  .body-texttransport {
    margin: 6% 14.5% 48% 15%;
  }
}

@media (max-width: 943px) {
  .body-texttransport {
    margin: 6% 14.5% 50% 15%;
  }
}

@media (max-width: 929px) {
  .body-textlager {
    margin: 6% 14.5% 48% 15%;
  }
}

@media (max-width: 870px) {
  .body-textlager {
    margin: 6% 14.5% 52% 15%;
  }
}

@media (max-width: 798px) {
  h2 {
    font-size: 1.69rem;
  }

  .body-text, .body-textlager, .body-texttransport {
    font-size: 1rem;
  }

  .logo {
    height: 117.8px;
    width: 313.5px;
    position: relative;
    top: -10px;
  }

  .body-textlager {
    margin: 6% 14.5% 55% 15%;
  }
}

@media (max-width: 767px) {
  .body-text {
    margin: 4% 8.5% 10%;
  }

  .body-textlager {
    margin: 0 8.5% 58%;
  }

  .lager {
    height: 270px;
    width: 95%;
    margin-top: -10px;
  }
}

@media (max-width: 689px) {
  .body-textlager {
    margin: 0 8.5% 62%;
  }

  .lager {
    margin-top: -22px;
  }
}

@media (max-width: 615px) {
  h2 {
    font-size: 1.55rem;
  }

  .body-text, .body-textlager, .body-texttransport {
    font-size: 0.96rem;
  }

  .logo {
    height: 100.13px;
    width: 266.475px;
  }

  .body-textlager {
    margin: 0 8.5% 63%;
  }

  .lager {
    height: 230px;
  }
}

@media (max-width: 572px) {
  .body-textlager {
    margin: 0 8.5% 65%;
  }

  .lager {
    height: 240px;
    margin-top: -26px;
  }
}

@media (max-width: 545px) {
  h2 {
    font-size: 1.45rem;
    padding-bottom: 3.3%;
  }

  .body-text, .body-texttransport {
    margin: 0 8.5% 5%;
  }

  .body-text, .body-textlager, .body-texttransport {
    font-size: 0.89rem;
    line-height: 2.2rem;
    top: -6px;
  }

  .logo {
    height: 90.117px;
    width: 239.8275px;
    position: relative;
    top: -28px;
  }

  .body-textlager {
    margin: 0 8.5% 57%;
  }

  .lager {
    height: 200px;
    margin-top: -60px;
  }
}

@media (max-width: 478px) {
  .lager {
    height: 180px;
    margin-top: -40px;
  }
}

@media (max-width: 458px) {
  .body-textlager {
    margin: 0 8.5% 62%;
  }
}

@media (max-width: 410px) {
  .body-textlager {
    margin: 0 8.5% 66%;
  }

  .lager {
    height: 160px;
  }
}

@media (max-width: 339px) {
  .lager {
    height: 150px;
    margin-top: -10px;
  }
}

@media (max-width: 316px) {
  .lager {
    height: 135px;
    margin-top: 20px;
  }
}

@media (max-width: 299px) {
  h2 {
    font-size: 1.2rem;
  }

  .body-text, .body-texttransport {
    margin: 0 8.5% 0;
  }

  .body-text, .body-textlager, .body-texttransport {
    font-size: 0.85rem;
    top: -24px;
  }

  .logo {
    height: 81.1053px;
    width: 215.84475px;
    position: relative;
    top: -30px;
  }
}

/* Footer */
.h2foot {
  color: #FFFFFF;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 1.4rem;
  padding-bottom: 2%;
}

#foot-content {
  position: absolute;
  color: #dadadc;
  font-family: "Montserrat";
  font-size: 1rem;
  margin-top: 3%;
  margin-left: 14.5%;
  line-height: 11px;
  width: 70%;
}

.telefon {
  text-decoration: underline;
}

.mapsection {
  display: inline-block;
}

iframe {
  border-radius: 1%;
  width: 424px;
  height: 316px;
}

.footform {
  width: 40%;
  float: right;
}

.formline {
  opacity: 90%;
}

.btnskicka {
  position: absolute;
  right: 0;
  margin-top: 1%;
}

.copyrightfoot {
  position: absolute;
  font-size: 0.75rem;
  color: #dadadc;
  opacity: 80%;
  right: 1px;
  bottom: -63px;
}

.footbild {
  position: absolute;
  top: 370px;
  left: 260px;
  width: 192.6px;
  height: 134.1px;
  opacity: 90%;
}

.isologos {
  width: 154.08px;
  height: 74.16px;
  margin-left: 20px;
  margin-top: 5%;
}

.fairlogo {
  width: 74px;
  height: 74px;
  margin-top: 5%;
}

.foot {
  background-color: #161928;
  width: 100%;
  height: 635px;
}

@media (max-width: 1211px) {
  .footform {
    width: 100%;
    margin-top: 18%;
  }

  .mapsection {
    margin-top: 3%;
  }

  .foot {
    height: 1320px;
  }

  #foot-content {
    margin-top: 8%;
  }

  .copyrightfoot {
    bottom: -12px;
  }
}

@media (max-width: 1150px) {
  .isologos, .fairlogo {
    margin-top: 6%;
  }
}

@media (max-width: 1090px) {
  .isologos, .fairlogo {
    margin-top: 7%;
  }
}

@media (max-width: 1040px) {
  .isologos, .fairlogo {
    margin-top: 8%;
  }

  .copyrightfoot {
    bottom: -16px;
  }
}

@media (max-width: 970px) {
  .isologos, .fairlogo {
    margin-top: 9%;
  }

  .foot {
    height: 1265px;
  }
}

@media (max-width: 850px) {
  .isologos, .fairlogo {
    margin-top: 11%;
  }

  .foot {
    height: 1285px;
  }
}

@media (max-width: 767px) {
  #foot-content {
    margin-left: 8.5%;
    width: 83%;
  }

  .isologos, .fairlogo {
    margin-top: 15%;
  }
}

@media (max-width: 640px) {
  .footform {
    width: 100%;
    margin-top: 25%;
  }

  .footbild {
    width: 161.784px;
    height: 112.644px;
    opacity: 90%;
    margin-top: -24px;
  }

  iframe {
    width: 381.6px;
    height: 284.4px;
  }

  .isologos {
    width: 138.672px;
    height: 66.744px;
  }

  .fairlogo {
    width: 66.6px;
    height: 66.6px;
  }

  .foot {
    height: 1260px;
  }
}

@media (max-width: 608px) {
  iframe {
    width: 343.44px;
    height: 255.96px;
  }

  .h2foot {
    font-size: 1.3rem;
  }

  #foot-content {
    font-size: 0.85rem;
    line-height: 9px;
  }

  .footbild {
    width: 145.6056px;
    height: 101.3796px;
    margin-top: -52px;
    margin-left: -26px;
  }

  .isologos {
    width: 124.8048px;
    height: 60.0696px;
  }

  .fairlogo {
    width: 59.94px;
    height: 59.94px;
  }

  .copyrightfoot {
    bottom: -48px;
  }

  .foot {
    height: 1200px;
  }
}

@media (max-width: 530px) {
  .footbild {
    width: 131.04504px;
    height: 91.24164px;
    margin-top: -50px;
    margin-left: -17px;
  }

  .isologos {
    width: 124.8048px;
    height: 60.0696px;
  }

  .fairlogo {
    width: 59.94px;
    height: 59.94px;
  }

  .copyrightfoot {
    bottom: -62px;
  }

  .foot {
    height: 1175px;
  }
}

@media (max-width: 515px) {
  .copyrightfoot {
    bottom: -70px;
  }
}

@media (max-width: 480px) {
  .footbild {
    margin-top: -50px;
    margin-left: -17px;
  }

  .isologos {
    width: 112.3px;
    height: 54px;
    margin-top: 15%;
  }

  .fairlogo {
    width: 53.9px;
    height: 53.9px;
    margin-top: 15%;
  }
}

@media (max-width: 445px) {
  .footbild {
    margin-top: 45px;
    margin-left: -48px;
  }

  .foot {
    height: 1155px;
  }
}

@media (max-width: 405px) {
  iframe {
    width: 309px;
    height: 230.4px;
  }

  .footbild {
    margin-top: 12px;
    margin-left: -67px;
  }

  .foot {
    height: 1100px;
  }
}

@media (max-width: 382px) {
  .footbild {
    width: 117.9px;
    height: 82.1px;
  }
}

@media (max-width: 367px) {
  iframe {
    width: 278.1px;
    height: 207.36px;
  }

  .footbild {
    margin-top: -12px;
    margin-left: -75px;
  }
}

@media (max-width: 347px) {
  .footbild {
    margin-left: -105px;
  }
}

@media (min-width: 2135px) {
  .foot {
    height: 690px;
  }
}
