/* Header-section */
h1 {
  margin: 0;
  font-size: 2.73rem;
  font-weight: bold;
  text-align: center;
  font-family: "Tahoma";
}

.second-row {
  color: #2C4C90;
  opacity: 90%;
  padding-top: 17px;
  font-size: 1.74rem;
  font-family: "Tahoma";
  font-weight: 400;
}

.third-row {
  position: relative;
  bottom: 17px;
  color: #161928;
  font-size: 1.05rem;
  font-family: "Montserrat";
  font-weight: 300;
}

.pil {
  width: 103px;
  position: relative;
  float: left;
  margin-right: 1.5%;
}

.container-fluid1 {
  position: absolute;
  padding-top: 4%;
  top: 70px;
  line-height: 37px;
  padding-left: 15%;
}

.box {
  margin: 0 auto;
  width: 628px;
}

.header-image {
  width: 100%;
  margin-top: 250px;
  margin-bottom: -1%;
  overflow: hidden;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 3.53rem;
  }

  .second-row {
    font-size: 2.24rem;
  }

  .third-row {
    font-size: 1.35rem;
  }

  .pil {
    width: 109px;
    margin-right: 2%;
    top: -3px;
  }

  .box {
    position: relative;
    right: 89px;
  }

  .h2big {
    font-size: 2.24rem;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 2.23rem;
  }

  .second-row {
    font-size: 1.24rem;
    position: relative;
    top: -7px;
  }

  .third-row {
    font-size: 1rem;
    position: relative;
    top: -34px;
  }

  .pil {
    width: 80px;
    margin-right: 2%;
  }

  .box {
    position: relative;
    left: 60px;
  }

  .container-fluid1 {
    padding-left: 4%;
  }
}

@media (max-width: 686px) {
  h1 {
    font-size: 1.8rem;
    position: relative;
  right: 65px;
  }

  .second-row {
    font-size: 1rem;
    top: -14px;
  }

  .third-row {
    font-size: 0.8rem;
    position: relative;
    top: -48px;
    left: 72px;
  }

  .pil {
    width: 60px;
    margin-right: 2%;
  }

  .box {
    position: relative;
    left: 44px;
  }

  .container-fluid1 {
    padding-left:1%;
  }
}

/* Navigation-Bar */
.navigation-row {
  background-color: #161928;
  width: 100%;
  height: 109px;
}


@media (max-width: 991px) {
  .navigation-row {
    height: 155px;
  }
}

@media (max-width: 767px) {
  .navigation-row {
    height: 365px;
  }
}

.navrow {
  position: relative;
  line-height: 254%;
  margin: 0 14.5%;
  width: 75%;
  background-color: #161928;
  top: -72px;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 1.4rem;
  letter-spacing: 1.5px;
  text-align: left;
}

.navlager {
  position: relative;
  right: 3%;
}

.navlager2 {
  position: relative;
  right: 6%;
}

.navlager3 {
  position: relative;
  right: 5.1%;
}

@media (max-width: 1900px){
  .navlager2 {
    position: relative;
    right: 6.9%;
  }
}

@media (max-width: 1590px){
  .navlager {
    position: relative;
    right: 4%;
  }

  .navlager2 {
    position: relative;
    right: 7.1%;
  }
}

@media (max-width: 1199px){
  .navlager {
    position: relative;
    right: 0%;
  }

  .navlager2 {
    position: relative;
    right: 0%;
  }

  .navlager3 {
    position: relative;
    right: 0%;
  }
  .navigation-row {
    height: 149px;
  }
  .navrow {
    position: relative;
    background-color: #161928;
    top: -121px;
}

.body-text {
  top: -65px;
}
}



a {
  color: #FFF;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #2C4C90;
}

.active {
  color: #2C4C90;
}

/* BODY */
h2 {
  font-size: 1.74rem;
  font-family: "Tahoma";
  font-weight: 400;
  color: #2C4C90;
  margin-bottom: 5%;
}

.body-text {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
  line-height: 2.5rem;
  position: relative;
  margin: 7% 15%;
}

.logo {
  height: 124px;
  width: 330px;
  float: right;
  margin: 22% 5% 40% 20%;
  display: inline-block;
}

@media (min-width: 2234px) {
  .logo {
    margin-top: 15%;
    margin-left: 29%;
  }
}

@media (max-width: 2500px) {
  .logo {
    margin-top: 19%;
  }
}

@media (max-width: 2200px) {
  .logo {
    margin-top: 22%;
  }
}

@media (max-width: 1793px) {
  .logo {
    margin-top: 25%;
  }
}

@media (max-width: 1709px) {
  .logo {
    margin-top: 28%;
    margin-left: 15%;
  }
}

@media (max-width: 1579px) {
  .logo {
    margin-top: 32%;
    margin-left: 10%;
  }
}

@media (max-width: 1303px) {
  .logo {
    margin-top: 36%;
  }
}

@media (max-width: 1280px) {
  .logo {
    margin-top: 41%;
  }
}

@media (max-width: 1225px) {
  .logo {
    float: inherit;
    margin: inherit;
    position: absolute;
    top: 500px;
    margin-left: 26%;
  }

  .body-text {
    margin-bottom: 25%;
  }
}

@media (max-width: 1203px) {
  .logo {
    float: inherit;
    margin: inherit;
    position: absolute;
    top: 540px;
    margin-left: 26%;
  }

  .body-text {
    margin-bottom: 25%;
  }
}

@media (max-width: 1182px) {
  .logo {
    float: inherit;
    margin: inherit;
    position: absolute;
    top: 570px;
    margin-left: 26%;
  }

  .body-text {
    margin-bottom: 24%;
  }
}

@media (max-width: 1178px) {
  .logo {
    float: inherit;
    margin: inherit;
    position: absolute;
    top: 595px;
    margin-left: 26%;
  }

  .body-text {
    margin-bottom: 23%;
  }
}

@media (max-width: 874px) {
  .logo {
    float: inherit;
    margin: inherit;
    position: absolute;
    top: 635px;
    margin-left: 21%;
  }

  .body-text {
    margin-bottom: 24%;
  }
}

@media (max-width: 810px) {
  .logo {
    float: inherit;
    margin: inherit;
    position: absolute;
    top: 678px;
    margin-left: 20%;
  }

  .body-text {
    margin-bottom: 30%;
  }
}

@media (max-width: 792px) {
  .logo {
    float: inherit;
    margin: inherit;
    position: absolute;
    top: 718px;
    margin-left: 19%;
  }

  .body-text {
    margin-bottom: 32%;
  }
}

@media (max-width: 767px){

  .navigation-row {
    height: 379px;
  }
  .navrow {
    position: relative;
    background-color: #161928;
    top: -355px;
    text-align: center;
}

.body-text {
  top: -320px;
    margin-bottom: 0;
  }

  .logo {
    top: 755px;
}
}

@media (max-width: 635px){
  .logo {
    top: 810px;
    margin-left: 13%;
}}

@media (max-width: 597px){
  .logo {
    top: 890px;
    margin-left: 12%;
}}

@media (max-width: 570px){
  .logo {
    top: 920px;
    margin-left: 11%;
}}

@media (max-width: 545px){
  .logo {
    top: 970px;
    margin-left: 8%;
}}

@media (max-width: 462px){
  .logo {
    top: 1040px;
    margin-left: 3%;
}}

@media (max-width: 438px){
  .logo {
    top: 1180px;
    margin-left: 1%;
}}


.lager {
  height: 280px;
  width: 590px;
  margin-top: 10%;
}

.lastbil {
  height: 318px;
  width: 553px;
  margin-top: 10%;
}


/* Footer */

.h2foot {
  color: #FFFFFF;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 1.4rem;
}

#foot-content {
  position: absolute;
  color: #dadadc;
  font-family: "Montserrat";
  font-size: 1rem;
  margin-top: 3%;
  margin-left: 14.5%;
  line-height: 11px;
  width: 70%;
}

.mapsection {
  display: inline-block;
}

iframe {
  border-radius: 1%;
  width: 424px;
  height: 316px;
}

.footform {
  width: 40%;
  float: right;
  margin-left: 10%;
}

@media (max-width: 1211px) {
.footform {
  width: 100%;
  margin-top: 18%;
}

.mapsection{
  margin-top: 3%;
}

.footbild {
  margin-top: 3%;
}

}

@media (max-width: 820px) {
.footform {
  width: 100%;
  margin-top: 30%;
}

.mapsection{
  margin-top: 5%;
}

.footbild {
  margin-top: 5%;
}

}

@media (max-width: 640px) {
.footform {
  width: 100%;
  margin-top: 45%;
}

.mapsection{
  margin-top: 10%;
}
.footbild {
  margin-top: 3%;
  margin-left: -5%;
}
iframe {
  width: 381.6px;
  height: 284.4px;
}
}

@media (max-width: 608px) {
iframe {
  width: 343.44px;
  height: 255.96px;
}
.footbild {
  margin-top: -10%;
  margin-left: -10%;
}
}








.formline {
  opacity: 80%;
}

.btnskicka {
  position: absolute;
  right: 0;
  margin-top: 1%;
}

.copyrightfoot {
  position: absolute;
  font-size: 0.75rem;
  color: #dadadc;
  opacity: 80%;
  right: 1px;
  bottom: -40px;
}

.footbild {
  position: absolute;
  top: 345px;
  left: 260px;
  width: 214px;
  height: 149px;
  opacity: 90%;
}

.isologos {
  width: 154.08px;
  height: 74.16px;
  margin-left: 20px;
  margin-top: 5%;
}

.fairlogo {
  width: 74px;
  height: 74px;
  margin-top: 5%;
}

.foot {
  background-color: #161928;
  width: 100%;
  height: 625px;
}

@media (max-width: 1211px) {
  .foot {
    height: 1318px;
  }

  #foot-content {
    margin-top: 5%;
}}

@media (min-width: 2135px) {
  .foot {
    height: 690px;
  }
}
